.card {
  position: relative;
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &--selected {
    transform: translateY(1rem);
    &:hover {
      transform: translateY(1rem) scale(1);
    }
  }
}
